#   (c) Copyright 2014 Hewlett-Packard Development Company, L.P.
#   All rights reserved. This program and the accompanying materials
#   are made available under the terms of the Apache License v2.0 which accompany this distribution.
#
#   The Apache License is available at
#   http://www.apache.org/licenses/LICENSE-2.0
#
####################################################

language: java

sudo: required

script:
  - curl -sLo - http://j.mp/install-travis-docker | sh -xe
  - wget https://github.com/CloudSlang/cloud-slang/releases/download/cloudslang-0.7.28/cslang-builder.zip
  - unzip cslang-builder.zip -d cslang-builder
  - chmod +x cslang-builder/bin/cslang-builder
  - ./run 'docker run --privileged -d -p 4444 -p 49153:22 -p 39812:39812 -e PORT=4444 --name docker_host_ssh orius123/dind-ssh &&
    ./cslang-builder/bin/cslang-builder -ts docker'